<div id="homelanding">

  <div class="bottombox">
    <a href="/#about">Salvo's Journey Through the America's <img src="chevrondown.png"></a>
  </div>
</div>

<div id="about">

<h1>Salvo's Story</h1>


<div class="container">
  <div class="row">
  <div class="eight columns">

    Rhythms of Change: North Carolina's Música Latina Profiles: Carlos Salvo writes and plays music in the style of the Nueva Canción Chilena (New Chilean Song) or Trova genre that came out of Chile in the 1960's. Victor Jara was the original trovador whose death at the hands of the Chilean military junta in 1973 sparked world-wide outrage. Pete Seeger said of Victor Jara "As long as we sing his songs, as long as his courage can inspire us to greater courage, Victor Jara will never die." Carlos Salvo lists playing with Pete Seeger, many years after the death of Victor Jara, as one of the great moments of his life. As a boy growing up in Chile, Carlos was encouraged by his father to learn music. He still remembers the time when he was 9 years old and heard the great Cuban trovador, Silvio Rodriguez perform. It made a lasting impression and helped set his course as a trovador. Carlos is also a sculptor, jewelry designer, and boat builder</div>
  <div class="four columns">Hello</div>
  </div>

  <div class="row">

    <div class="bigquote">
      Latin American Troubadour, Composer, Singer, Luthier and Sculptor, Carlos Salvo is a contemporary troubadour composing poetry and music, which transpose the neocolonial epics of all the Americas to music.
    </div>
  



 Such metaphorical transposition of social realities to intricate lyrics and harmonies is the essence of the international New Song Movement, which began in Chile over three decades ago. Born in Chile a few years after the first chords of this movement of cultural assertion became widely known, Carlos lived until the age of fifteen in his native land torn by political conflict. When he left Chile, Carlos carried with him the inspiration of those artists who strove to assert their dignity as Latin Americans through the political and social reclaiming which identifies the New Song Movement.  Having learned the art of metalworking as a boy in Santiago, Chile, he had sold his handcrafted jewelry in her streets to prepare for his first journey from home. Carlos left for Buenos Aires, Argentina, where he lived for nearly five years. There he was well known as a young composer and performer of songs, which celebrated Latin Americans' lives and daily struggles. It was in Buenos Aires as well that Carlos co-founded Contracanto (contra el canto oficiál, against the official song) a cultural center that was a popular gathering place for artists. Carlos arrived to the United States in the fall of 1985 and was soon performing at many university gatherings in the Durham and Chapel Hill area. He returned to Chile to complete a documentary video project on the Victor Jara New Song Festival in the early 1987.  Due to the political repression of the Chilean military, Carlos was forced that same year to abandon the project unfinished. Upon arriving to the United States, he then recorded Casi al Sol (Almost to the Sun), which was well received in Chile upon its release. The following year Carlos recorded Mi Barrio Joven (My Young Neighborhood) for the soundtrack of Claudia and Diego, an AIDS education film for Hispanic immigrants to the United States produced by the Blue Ridge Health Center of North Carolina.  As a troubadour, Carlos builds his pieces completely. He begins with fine woods used in classical guitar construction to create his own unique instrument, which can best release his music. The verses of his songs are his poems, which are set to original melodies. He has performed at Duke University, Kenan Stadium, The University of North Carolina at Chapel Hill, University of California at Berkeley, La Pena Cultural Center, and Elizabethtown Community College in Kentucky.  Carlos was chosen in 1993 and 1994 by the North Carolina Arts Council as one of the state's top three songwriters.  In recognition of his original works, he was also awarded an Emerging Artists grant from the Durham Arts Council in 1994.  Carlos used his award to travel to Cuba in order to meet those artists who most inspire his music.  He studied with Chucho Valdes at the National School of the Arts in Havana, and finally met his long time idol Silvio Rodriguez.  He also met Annabell Lopez, and conversation soon turned to ideas of duets, an album, and a tour in the United States.   In addition to recording the album "Florilegios" with Lopez, Carlos also recorded with pianist Emilio Vega and guitarist Julian Fernandez, members of the group "Diakara" (with Silvio Rodriguez) from 1990-93 and later members of the group "Irakere".
</div>
</div>
</div>
<div class="hidden">
<h1>Listing Works</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= image_tag work.image_url.to_s %></td>
        <td><%= work.category %></td>
        <td><%= work.title %></td>
        <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_work_path %>
</div>
